<div class="p-2">
  <nav class="bg-emerald-500 border-gray-200 px-2 sm:px-4 py-2.5 rounded">
    <div class="flex flex-wrap items-center">
      <a href="" class="flex items-center">
        <img
          src="../../../assets/logoses.png"
          width="48"
          height="10"
          class="h-6 mr-3 ml-3 sm:h-9"
          alt="SES - SC"
        />
        <span
          class="self-center text-lg hidden lg:contents sm:contents md:contents font-semibold text-gray-100"
          >Gerência de Monitoramento e Avaliação de Processamento em Saúde -
          <div class="hidden sm:contents">GMAPS</div>
        </span>
        <span
          class="pl-1 self-center text-lg font-semibold sm:hidden text-gray-100 text-center"
        >
          GMAPS
        </span>
      </a>
    </div>
  </nav>
</div>
